.window{
    
    background-color: #060606;
    border-radius: 0.75rem;
    overflow: hidden;
    height: 100%;
    color: gray;
    font-family: 'helvetica';
    font-weight: 500;
 
    .nav{
        
        padding-inline: 0.75rem;
        padding-block: 0.5rem;
        display: flex;
        gap: 1.5rem;
        align-items: center;
        border-bottom: 1px solid rgb(245, 245, 245,0.2);

        .dots{
            display: flex;
            gap: 0.28rem;

            .dot{
                height: 15px;
                width: 15px;
                background-color: white;
                border-radius: 50%;
            }
            .red{
                background-color: #eb3535;
            }

            .yellow{
                background-color: #F5CA20;
            }

            .green{
                background-color: #3AC95D;
            }
        }

    }

    .main-content{
        height: 100%;
    }

    *::-webkit-scrollbar{
        width: 8px;
    }

    *::-webkit-scrollbar-thumb{
        background-color: rgba(168,168,168,0.4);
        border-radius: 4px;
    }
    
}