.dock{
    display: flex;
    gap: 0.75rem;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(63,63,63,0.395);
    padding-inline: 1rem;
    padding-block: 0.76rem;
    border-radius: 0.75rem;
    backdrop-filter: blur(5px);

    .icon{
        padding: 0.65rem;
        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1/1;
        width: 3.75rem;
        transition: all 0.35s cubic-bezier(0.34, 1.56, 0.64, 1);
    }

    .github,
    .cli{
        background-color: black;
    }

    .note{
        background: linear-gradient(to bottom,rgb(255,179,87),rgb(255,153,28))
    }

    .pdf{
        background: linear-gradient(to bottom,rgb(255,65,78),rgb(255,25,40))
    }

    .calender,
    .mail{
        background: linear-gradient(to bottom,rgb(105,94,255),rgb(66,52,255));
    }

    .spotify{
        background: linear-gradient(to bottom,rgb(78,160,33),rgb(53,152,12));
    }

    .link{
        background: linear-gradient(to bottom,rgb(163,94,178),rgb(142,33,255));
    }

    .icon:hover{
        transform: scale(1.25) translateY(-30%);
    }

    .icon:hover + .icon,
    .icon:has(+ .icon:hover){
        transform: scale(1.03) translateY(-10%)
    }
}